<html> 
    <head>
        <title>Project S.A.N.D.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    </head>

    <body>
        <h1>Project S.A.N.D. <br>
            Spreading Awareness (of) Natural Disasters
        </h1>

        <div>
            <nav>
                <ul id="navigationBar_ul">
                <li class="navigationBar_li"><a href="/">Home Page</a></li>
                <li class="navigationBar_li"><a href="/about">About</a></li>
                <li class="navigationBar_li"><a href="/comingsoon">Resources</a></li>
                <li class="navigationBar_li"><a href="/comingsoon">Data</a></li>
                </ul>
            </nav>    
        </div>
        
        <div id="countyResults">
            <h2>The five disasters {{county}}, {{state}} is most at risk for are:</h2>
            <ul>
                {% for key, value in data.items() %}
                    <li>{{ key }}: The risk is {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>