<html> <!-- all pages start and end with this tag -->
<!-- Header information: links to external scripts and style files, other metadata about the page. -->
    <head>
<!-- The title is mandatory. If you use tabs, the title appears in the page's tab in your browser.-->
        <title>Project S.A.N.D.</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
    </head>
<!-- The body consists of the visible parts of the web page. -->
    <body>
        <h1>Project S.A.N.D. <br>
            Spreading Awareness (of) Natural Disasters
        </h1>

        <div>
            <nav>
                <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/comingsoon">Resources</a></li>
                <li><a href="/comingsoon">Data</a></li>
                </ul>
            </nav>    
        </div>
        
        <div>
            <h2>The five disasters {{county}}, {{state}} is most at risk for are:</h2>
            <ul>
                {% for key, value in data.items() %}
                    <li>{{ key }}: The risk is {{ value }}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>