<html>
    <head>
        <title>Project S.A.N.D.</title>
        <link rel="stylesheet" href="../static/datastyle.css">
        <script src="../static/scripts/scripts.js"></script>
    </head>
    <body>
        <a href = "/" style="text-decoration: none; color: inherit;"><h1>Project S.A.N.D.</h1></a>
            <div class = 'titleSub'><em>Spreading Awareness of Natural Disasters</em></div>

            <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/currlocation">Current Location</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/top5">Top 5</a></li>
            <li><a href="/about">About Us</a></li>
            </ul>
        <form onsubmit="GetCurrentLocation">
            <button type = 'button'>Get my Location!</button>
        </form>
    </body>
</html>