<html>
    <head>
        <title>Project S.A.N.D.</title>
        <link rel="stylesheet" href="../static/datastyle.css">
        <script src="../static/scripts/scripts.js"></script>
        <script src="../static/scripts/Counties.js"></script>
    </head>
    <body>
        <a href = "/" style="text-decoration: none; color: inherit;"><h1>Project S.A.N.D.</h1></a>
            <div class = 'titleSub'><em>Spreading Awareness of Natural Disasters</em></div>

            <ul id = "navigationBar_ul">
                <li class = "navigationBar_li"><a href="/">Home</a></li>
                <li class = "navigationBar_li"><a href="/currlocation">My Current Location</a></li>
                <li class = "navigationBar_li"><a href="/resources">Resources</a></li>
                <li class = "navigationBar_li"><a href="/top5page">Top 5 County Disasters</a></li>
                <li class = "navigationBar_li"><a href="/about">About Us</a></li>
            </ul>
        <form onsubmit="GetCurrentLocation">
            <button type = 'button'>Get my Location!</button>
        </form>
    </body>
</html>