<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
        <script src="../static/scripts/script.js"></script>
    </head>

    <body>
        <a href = "/" style="text-decoration: none; color: inherit;"><h1>Project S.A.N.D.</h1></a>
        <div class = 'titleSub'><em>Spreading Awareness of Natural Disasters</em></div>

        <ul id = "navigationBar_ul">
          <li class = "navigationBar_li"><a href="/">Home</a></li>
          <li class = "navigationBar_li"><a href="/currlocation">My Current Location</a></li>
          <li class = "navigationBar_li"><a href="/resources">Resources</a></li>
          <li class = "navigationBar_li"><a href="/top5page">Top 5 County Disasters</a></li>
          <li class = "navigationBar_li"><a href="/about">About Us</a></li>
        </ul>

        <div>
            <div class="row">
                <div class="column">
                    <h2 class="resources">Avalanche</h2>
                    <p class="resourcestext"> For more information on avalanches and how to prepare for them click <a href="https://www.ready.gov/avalanche">here</a> </p>
            
                    <h2 class="resources">Cold Wave</h2>
                    <p class="resourcestext"> For more information on cold waves and how to prepare for them click <a href="https://www.ifrc.org/our-work/disasters-climate-and-crises/what-disaster/cold-waves">here</a> </p>
            
                    <h2 class="resources">Drought</h2>
                    <p class="resourcestext"> For more information on droughts and how to prepare for them click <a href="https://www.ready.gov/drought">here</a> </p>
            
                    <h2 class="resources">Earthquake</h2>
                    <p class="resourcestext"> For more information on earthquakes and how to prepare for them click <a href="https://www.ready.gov/earthquakes">here</a> </p>
                    
                    <h2 class="resources">Coastal Floods</h2>
                    <p class="resourcestext"> For more information on coastal floods and how to prepare for them click <a href="https://www.fema.gov/blog/preparing-coastal-hazards-comprehensive-guide">here</a> </p>

                    <h2 class="resources">Hail</h2>
                    <p class="resourcestext"> For more information on hail and how to prepare for it click <a href="https://nmems.org/natural-disasters/how-to-prepare-for-a-hail-storm/">here</a> </p>

                    <h2 class="resources">Heat Wave</h2>
                    <p class="resourcestext"> For more information on heat waves and how to prepare for them click <a href="https://www.ready.gov/heat">here</a> </p>

                    <h2 class="resources">Hurricane</h2>
                    <p class="resourcestext"> For more information on hurricanes and how to prepare for them click <a href="https://www.ready.gov/hurricanes">here</a> </p>
                </div>
                <div class="column"> 
                    <h2 class="resources">Ice Storm</h2>
                    <p class="resourcestext"> For more information on ice storms and how to prepare for them click <a href="https://www.battlbox.com/blogs/outdoors/what-to-do-during-an-ice-storm-a-comprehensive-survival-guide">here</a> </p>

                    <h2 class="resources">Landslide</h2>
                    <p class="resourcestext"> For more information on landslides and how to prepare for them click <a href="https://www.ready.gov/landslides-debris-flow">here</a> </p>

                    <h2 class="resources">Lightning</h2>
                    <p class="resourcestext"> For more information on lightning and how to prepare for it click <a href="https://www.ready.gov/thunderstorms-lightning">here</a> </p>

                    <h2 class="resources">Strong Wind</h2>
                    <p class="resourcestext"> For more information on strong wind events and how to prepare for them click <a href="https://www.weather.gov/safety/wind-before">here</a> </p>

                    <h2 class="resources">Tornado</h2>
                    <p class="resourcestext"> For more information on tornadoes and how to prepare for them click <a href="https://www.ready.gov/tornadoes">here</a> </p>

                    <h2 class="resources">Tsunami</h2>
                    <p class="resourcestext"> For more information on tsunamis and how to prepare for them click <a href="https://www.ready.gov/tsunamis">here</a> </p>

                    <h2 class="resources">Volcano</h2>
                    <p class="resourcestext"> For more information on volcanoes and how to prepare for them click <a href="https://www.ready.gov/volcanoes">here</a> </p>

                    <h2 class="resources">Wildfire</h2>
                    <p class="resourcestext"> For more information on wildfires and how to prepare for them click <a href="https://www.ready.gov/wildfires">here</a> </p>
                </div>
                <div>
                    <h2 class="resources">Winter Weather</h2>
                    <p class="resourcestext"> For more information on winter weather and how to prepare for it click <a href="https://www.ready.gov/winter-weather">here</a> </p> 
                </div>
            </div>
        </div>
        
    </body>
</html>