<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='datastyle.css') }}">
        <script src="../static/scripts/script.js"></script>
        <script src="../static/scripts/Counties.js"></script>
        <script src="../static/scripts/ColorblindMode.js"></script>
    </head>

    <body>
        <a href = "/" style="text-decoration: none; color: inherit;"><h1 id="project-title" class = "ColorblindElement BPink">Project S.A.N.D.</h1></a>
            <div class = 'titleSub'><em>Spreading Awareness of Natural Disasters</em></div>

            <ul id = "navigationBar_ul" class = "ColorblindElement LGreen">
                <li class = "navigationBar_li"><a href="/">Home</a></li>
                <li class = "navigationBar_li"><a href="/currlocation">My Current Location</a></li>
                <li class = "navigationBar_li"><a href="/resources">Resources</a></li>
                <li class = "navigationBar_li"><a href="/top5page">Top 5 County Disasters</a></li>
                <li class = "navigationBar_li"><a href="/about">About Us</a></li>
            </ul>

        <div>
            <h2 id="HelpfulTextAboveSearchInput"> Click on Any of the Disasters Below to Become More Weather Aware </h2>
            <table class="resourcestable">
                <tr>
                    <td class="avalanche"> <a href="https://www.ready.gov/avalanche">Avalanches</a> </td>
                    <td class="coastalflooding"> <a href="https://www.fema.gov/blog/preparing-coastal-hazards-comprehensive-guide">Coastal Flooding</a> </td>
                    <td class="coldwave"> <a href="https://www.ifrc.org/our-work/disasters-climate-and-crises/what-disaster/cold-waves">Cold Waves</a> </td>
                    <td class="drought"> <a href="https://www.ready.gov/drought">Droughts</a> </td>
                </tr>
                <tr>
                    <td class="earthquake"> <a href="https://www.ready.gov/earthquakes">Earthquakes</a> </td>
                    <td class="hail"> <a href="https://nmems.org/natural-disasters/how-to-prepare-for-a-hail-storm/">Hail</a> </td>
                    <td class="heatwave"> <a href="https://www.ready.gov/heat">Heat Waves</a> </td>
                    <td class="hurricane"> <a href="https://www.ready.gov/hurricanes">Hurricanes</a> </td>
                </tr>
                <tr>
                    <td class="icestorm"> <a href="https://www.battlbox.com/blogs/outdoors/what-to-do-during-an-ice-storm-a-comprehensive-survival-guide">Ice Storms</a> </td>
                    <td class="landslide"> <a href="https://www.ready.gov/landslides-debris-flow">Landslides</a> </td>
                    <td class="lightning"> <a href="https://www.ready.gov/thunderstorms-lightning">Lightning</a> </td>
                    <td class="strongwind"> <a href="https://www.weather.gov/safety/wind-before">Strong Wind</a> </td>
                </tr>
                <tr>
                    <td class="tornado"> <a href="https://www.ready.gov/tornadoes">Tornadoes</a> </td>
                    <td class="tsunami"> <a href="https://www.ready.gov/tsunamis">Tsunamis</a> </td>
                    <td class="volcano"> <a href="https://www.ready.gov/volcanoes">Volcanoes</a> </td>
                    <td class="wildfire"> <a href="https://www.ready.gov/wildfires">Wildfires</a> </td>
                </tr>
                <tr>
                    <td class="winterweather"> <a href="https://www.ready.gov/winter-weather">Winter Weather</a> </td>
                </tr>
            </table>
        </div>

        <div id="getColorblindMode"> 
            <input type="checkbox" id="colorblind-mode" onclick="colorblindMode()">
            <label for="colorblind-mode"> Check for Colorblind Mode (Beta)</label>
        </div>
    </body>
</html>